.logo {
    height: 100px;
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}


p {
    font-size: 14px;
    color: red;
    text-align: center;
    margin: 10px 0;
}

.genre-buttons {
    display: flex;
    gap: 20px; 
    justify-content: center;
    margin-top: 20px;
}

.choice-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.choice-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.choice-button:disabled {
    background-color: rgba(100, 100, 100, 0.7);
    cursor: not-allowed;
}
